<% layout('layouts/boilerplate') -%>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-3 mt-3">
            <h1>hello</h1>
        </div>
    </div>
</div>    