<% layout('layouts/boilerplate') -%>
<div class="row mt-3 dashboard-row">

    <div class="row offset-2">
     <% if(currAdmin){ %>   
    <div class="mb-3 col-md-4 dashboard">
    <p>Admin Name: <%=currAdmin.name%></p>
    </div>
    <%}%>
    <div class="mb-3 col-md-8 offset-1 dashboard">
    Total number of Employee: <%= employeeCount %>
    </div>
    </div>
</div>