body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.dashboard{
    border: 2px solid #6610f2;
    width: 30% !important;
    height: 100px;
    padding-top: 2rem !important;
    text-align: center;
    font-weight: bold;
    background-color: rgb(131, 19, 211);
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    border-bottom: 1px solid grey;
    background-color: indigo;
 
}

.navbar-brand{
    color: white !important;
}
.nav-link {
    font-size: small;
      color:white !important;
} 

 .nav-link:hover {
    background-color: rgb(206, 206, 206, 0.3);
    border-radius: 2rem;
}  
@media (max-width: 768px) {

    .navbar-nav .nav-link {
        color: black !important; /* Link color */
        text-align: left; /* Align text to the left */
        padding-left: 1rem; /* Add padding to the left */
        font-weight: bold;
    }
    .navbar-nav {

        margin-top: 2rem;
        background-color: rgb(162, 102, 204); /* Background color for the collapsed menu */

    }
}

.heading{
    background-color: #6610f2 !important;
}

.employeeImage{
    width:5rem;
    height:5rem;
    border-radius: 50%;
}

.card{
    border:2px solid #6610f2 !important;
}
.card-title,.card-subtitle {
    color: #6610f2 !important;
    font-weight: bold;
}
.card-body{
    display: flex;
    flex-direction: column;
   
}

hr{
    border: 3px solid #6610f2 !important;
}

.highlights{
    color: #6610f2;
    font-weight: bold;
}

.btn-edit,.btn-delete{
   color: white !important;
   background-color: #6610f2 !important;
}

.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-label{
    font-weight: bold;
}

.newEmployeeForm{
    border: 2px solid #6610f2;
    padding: 1rem;
    border-radius: 1rem;
}

.newbtn{
    color: white !important;
    background-color: #6610f2 !important;
    width: 100%;
}

.signup-form{
     border: 2px solid #6610f2;
    padding: 1rem;
    border-radius: 1rem;
    width: 500px !important;
}

.signup-form label{
     font-weight: bold;
}

.signup-btn{
      color: white !important;
    background-color: #6610f2 !important;
    width: 100%;
}

.login-a{
    display: flex !important;
    justify-content: center !important;
    text-decoration: none;
    font-weight: bold;
}
/* signup and login page */
