body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.dashboard{
    border: 2px solid #6610f2;
    width: 30% !important;
    height: 100px;
    padding-top: 2rem !important;
    text-align: center;
    font-weight: bold;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    border-bottom: 1px solid grey;
    background-color: indigo;
 
}

.navbar-brand{
    color: white !important;
}
.nav-link {
    font-size: small;
      color:white !important;
} 

 .nav-link:hover {
    background-color: rgb(206, 206, 206, 0.3);
    border-radius: 2rem;
}  

.heading{
    background-color: #6610f2 !important;
}

.employeeImage{
    width:5rem;
    height:5rem;
    border-radius: 50%;
}

.card{
    border:2px solid #6610f2 !important;
}
.card-title,.card-subtitle {
    color: #6610f2 !important;
    font-weight: bold;
}
.card-body{
    display: flex;
    flex-direction: column;
   
}

hr{
    border: 3px solid #6610f2 !important;
}

.highlights{
    color: #6610f2;
    font-weight: bold;
}

.btn-edit,.btn-delete{
   color: white !important;
   background-color: #6610f2 !important;
}

.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-label{
    font-weight: bold;
}

.newEmployeeForm{
    border: 2px solid #6610f2;
    padding: 1rem;
    border-radius: 1rem;
}

.newbtn{
    color: white !important;
    background-color: #6610f2 !important;
    width: 100%;
}